.materialEditText
{
    width:300px;
    display:inline-block;
    background-color:#efefef;
    border:none;
    border-bottom:1px solid #757575;
    padding:10px 10px 10px 5px;
    font-size:1.8em;
    outline:none;
}

.materialEditTextDiv
{
    display:block;
    text-align: center;
    margin-top: 2.2rem;
}