@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
    margin: 0px;
    -webkit-overflow-scrolling: touch;
}

body
{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
}

h1
{
    margin: 0;
}

.centerDiv
{
    text-align: center;
    margin-top: 1.5rem;
}


.a-nodecoration
{
    text-decoration: none;
}