@import url(https://fonts.googleapis.com/css?family=Roboto);
body, h1, html {
  margin: 0
}

body {
  font-family: Roboto, sans-serif;
  background-color: #efefef
}

.centerDiv {
  text-align: center;
  margin-top: 1.5rem
}